  body {
  background:darkslategray;
  display: flex;
  justify-content: center;

  height: 100vh;
  margin: 0;
}

.container {
  background: #ffffff;
  padding: 25px;
  border-radius: 15px;
  width: 380px;

}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-weight: 600;
}

input {
  width: 70%;
  padding: 10px;
  margin-right: 5px;
  border: 2px solid #ccc;
  outline: none;
}


button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background:darkslategray;
  color: white;
  font-weight: 500;
  cursor: pointer;
}


ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  max-height: 250px;
  overflow-y: auto;
}

li {
  margin: 10px 0;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}


.actions button {
  margin-left: 6px;
  padding: 6px 10px;
  font-size: 14px;
}


.error {
  color: #f44336;
  font-size: 14px;
  margin-top: 5px;
  display: none;
}

.edit-input {
  width: 65%;
  padding: 8px;
  outline: none;
}
